<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>
<body>

    <div>
        @RenderSection("banner", required: false)
    </div>
    @RenderBody()
</body>
</html>
