@{
    Layout = "~/_Layout.cshtml";
}

@section banner{
    <h1>Home of CPSC1517 Form and Razor</h1>
}

<a href="~/HelloWorld.cshtml">Hello World</a><br />
<a href="~/TextBoxes.cshtml">Basic Form</a>
