<nav class="navbar navbar-expand-md navbar-light fixed-top">
    <a class="navbar-brand" href="~/Default.cshtml"><strong>Razor CPSC1517</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarMenuName" aria-controls="navbarMenuName"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenuName">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="~/Default.cshtml">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/HelloWorld.cshtml">Hello World</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarSubMenu"
                   aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                    Samples
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarSubMenu">
                    <a class="nav-link" href="~/SamplePages/BasicForm.cshtml">Basic Form</a>
                    <a class="nav-link" href="~/SamplePages/RadioButtons.cshtml">RadioButtons</a>
                    <a class="nav-link" href="~/SamplePages/CheckBoxes.cshtml">CheckBoxes</a>
                    <a class="nav-link" href="~/SamplePages/DropDownList.cshtml">Dropdownlist</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDBMenu"
                   aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                    DB Samples
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDBMenu">
                    <a class="nav-link" href="~/SamplePages/SimpleQuery.cshtml">Simple PKey Query</a>
                    <a class="nav-link" href="~/SamplePages/MultiRecordQuery.cshtml">DDL Selection Query</a>
                    <a class="nav-link" href="~/SamplePages/CRUDPage.cshtml">Insert</a>

                </div>
            </li>
        </ul>
    </div>
</nav>


