@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Razor";
}
   
 <h1> Hello World</h1>

@section banner{
    <span style="color:green">
        This is treated as <u><strong>html text</strong></u> with a
        separate section area.
        </span>
}

